<div class="caps">
  <div class="cap">
    <div class="img-wrap">
      <img src="assets/images/cap.png" data-aos="zoom-in" *ngIf="!team.players[0]" />
      <img src="assets/images/cap_active.png" data-aos="zoom-in" *ngIf="team.players[0]" />
    </div>
  </div>
  <div class="cap">
    <div class="img-wrap">
      <img src="assets/images/cap.png" data-aos="zoom-in" *ngIf="!team.players[1]" />
      <img src="assets/images/cap_active.png" data-aos="zoom-in" *ngIf="team.players[1]" />
    </div>
  </div>
  <div class="cap">
    <div class="img-wrap">
      <img src="assets/images/cap.png" data-aos="zoom-in" *ngIf="!team.players[2]" />
      <img src="assets/images/cap_active.png" data-aos="zoom-in" *ngIf="team.players[2]" />
    </div>
  </div>
  <div class="cap">
    <div class="img-wrap">
      <img src="assets/images/cap.png" data-aos="zoom-in" *ngIf="!team.players[3]" />
      <img src="assets/images/cap_active.png" data-aos="zoom-in" *ngIf="team.players[3]" />
    </div>
  </div>
  <div class="cap">
    <div class="img-wrap">
      <img src="assets/images/cap.png" data-aos="zoom-in" *ngIf="!team.players[4]" />
      <img src="assets/images/cap_active.png" data-aos="zoom-in" *ngIf="team.players[4]" />
    </div>
  </div>
  <div class="cap">
    <div class="img-wrap">
      <img src="assets/images/cap.png" data-aos="zoom-in" *ngIf="!team.players[5]" />
      <img src="assets/images/cap_active.png" data-aos="zoom-in" *ngIf="team.players[5]" />
    </div>
  </div>
  <div class="cap">
    <div class="img-wrap">
      <img src="assets/images/cap.png" data-aos="zoom-in" *ngIf="!team.players[6]" />
      <img src="assets/images/cap_active.png" data-aos="zoom-in" *ngIf="team.players[6]" />
    </div>
  </div>
  <div class="cap">
    <div class="img-wrap">
      <img src="assets/images/cap.png" data-aos="zoom-in" *ngIf="!team.players[7]" />
      <img src="assets/images/cap_active.png" data-aos="zoom-in" *ngIf="team.players[7]" />
    </div>
  </div>
  <div class="cap">
    <div class="img-wrap">
      <img src="assets/images/cap.png" data-aos="zoom-in" *ngIf="!team.players[8]" />
      <img src="assets/images/cap_active.png" data-aos="zoom-in" *ngIf="team.players[8]" />
    </div>
  </div>
  <div class="cap">
    <div class="img-wrap">
      <img src="assets/images/cap.png" data-aos="zoom-in" *ngIf="!team.players[9]" />
      <img src="assets/images/cap_active.png" data-aos="zoom-in" *ngIf="team.players[9]" />
    </div>
  </div>
  <div class="cap">
    <div class="img-wrap">
      <img src="assets/images/cap.png" data-aos="zoom-in" *ngIf="!team.players[10]" />
      <img src="assets/images/cap_active.png" data-aos="zoom-in" *ngIf="team.players[10]" />
    </div>
  </div>
</div>
