@import "~src/assets/styles/helpers/mixins";

.game-tile-component {
  width: 100%;
  overflow-x: hidden;
  @include flex-container(space-between);
  height: 40%;
  color: #fff;
  position: relative;

  &.hidden {
    visibility: hidden;
  }
  .slide {
    height: 100%;
    width: 100%;
    background: url(~src/assets/images/BG1.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 2rem;
    .game-info {
      text-align: center;
      background: rgba(0, 0, 0, 0.2);
      width: 100%;
      .when {
        font-family: PoppinsBold;
      }
      .where {
        font-family: PoppinsLight;
        font-size: 0.8rem;
      }
    }
    .content {
      transition: height 0.3s ease;
    }
    .teams {
      @include flex-container(center);
      padding-top: 5px;
      padding-bottom: 2rem !important;
      .team {
        text-align: center;
        width: 8rem;
        .img-wrap {
          width: 4.5rem;
          height: 4.5rem;
          border-radius: 50%;
          margin: 0 auto;
          margin-bottom: 5px;
          overflow: hidden;
          @include flex-container(center);
        }
        .team-name {
          text-transform: uppercase;
          font-size: 0.85rem;
          font-weight: 600;
          white-space: normal;
          font-family: PoppinsExtraBold;
          letter-spacing: 0.3px;
        }
      }
      .vs {
        font-family: "PoppinsExtraBold";
        font-size: 0.95rem;
      }
    }
    .countdown {
      color: #fff;
      font-size: 1.2rem;
      font-weight: 600;
      margin-top: 10px;
      text-align: center;
      background: #27335e;
      border-radius: 6px;
      padding: 4px 20px;
      display: inline-block;
      visibility: visible;

      .text {
        text-transform: uppercase;
        color: #a8bff4;
        font-family: PoppinsExtraBold;
        font-size: 0.75rem;
      }
      .timer {
        color: #f8a90a;
        font-family: PoppinsExtraBold;
        font-size: 0.9rem;
        .separator {
          margin: 0 3px;
        }
      }
    }
    .play-now {
      button {
        outline: none;
        background: #fff;
        color: #1a2664;
        font-size: 1rem;
        text-transform: uppercase;
        padding: 0.4rem 2.5rem;
        border-radius: 6px;
        font-weight: 600;
        border: none;
        font-family: PoppinsExtraBold;
        box-shadow: none;
      }
    }
    .text-wrap {
      font-size: 0.8rem;
      margin: 4px;
    }
  }
}

@media (min-width: 370px) and (max-height: 670px) {
  .game-tile-component {
    height: 45% !important;
  }
}

@media (min-width: 370px) and (min-height: 800px) {
  .game-tile-component {
    height: 35% !important;
  }
}

@media (min-width: 320px) and (max-height: 570px) {
  .game-tile-component {
    height: 45% !important;
  }
}

@media (min-width: 400px) and (max-height: 740px) {
  .game-tile-component {
    height: 45% !important;
  }
}
