@import "mixins";

.room-details {
  overflow-y: auto;
  .room-details-wrap {
    padding: 1rem;
    .sub-header {
      @include flex-container(flex-end);
      button {
        background: #fff;
        border-radius: 6px;
        border: none;
        text-transform: uppercase;
        font-size: 0.8rem;
        padding: 0.45rem 1.5rem;
        color: #45335e;
        font-family: MontserratBold;
        min-width: 8rem;
      }
    }
    .playalong-wrap {
      @include flex-container(space-between);
      background: #fff;
      border-radius: 6px;
      padding: 5px;
      .left {
        @include flex-container(flex-start);
        flex: 2;
        .img-wrap {
          width: 7rem;
        }
        .text {
          text-transform: uppercase;
          font-size: 0.9rem;
          color: #707070;
          font-family: MontserratBold;
          line-height: 1.2rem;
        }
      }
      .right {
        flex: 1;
        text-align: left;
        button {
          background-color: #49950C;
          color: #fff;
          border: none;
          border-radius: 6px;
          font-family: MontserratBold;
          padding: 0.4rem 1rem;
          font-size: 1rem;
          line-height: 1.3rem;
        }
      }
    }
    .header {
      margin-top: 1rem;   
      @include flex-container(space-between);
      padding-bottom: 0.8rem;
      text-transform: uppercase;
      font-size: 0.9rem;
      font-family: MontserratBold;
      .text-1 {
        color: #AAAAAA;
      }
      .text-2 {
        color: #3C3C3C;
      }
    }
    .tabs-container {
      @include flex-container(space-between);
      height: 55px;
      background-color: #FFFFFF;
      color: #3C3C3C;
      border-radius: 11px 11px 0 0;
      .tab {
        @include flex-container(center);
        flex: 1;
        padding: 0.75rem;
        text-align: center;
        font-size: 0.9rem;
        height: 100%;
        font-family: MontserratSemiBold;
        border-bottom: 3px solid #D3D3D3;
        &.active {
          color: #5400A7;
          border-bottom: 3px solid #5400A7;
        }
      }
    }
    .content{
    }
  }
}
